Repository ptb/template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, tsc-pkg

eslint:
  run: pnpm eslint --max-warnings 0 {staged_files}

tsc-pkg:
  run: pnpm tsc --noEmit --project tsconfig.json --skipLibCheck

Add Prettier configuration
  package.json
  pkg/prettier-config/package.json
  pkg/prettier-config/prettier.config.js
  pkg/prettier-config/types.d.ts
  pnpm-lock.yaml
  prettier.config.js
Due: eslint, tsc-pkg

Add Storybook configuration
  lefthook.yml
  lib/.storybook/main.ts
  lib/.storybook/preview.ts
  lib/package.json
  lib/tsconfig.json
  lib/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

Add Supabase configuration
  package.json
  pnpm-lock.yaml
  sql/package.json
  sql/supabase/.gitignore
  sql/supabase/config.toml
Due: none

Add Next.js stub configuration
  lefthook.yml
  package.json
  pnpm-lock.yaml
  web/.gitignore
  web/next.config.js
  web/package.json
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/src/pages/_app.tsx
  web/src/pages/_document.tsx
  web/src/pages/index.tsx
  web/tsconfig.json
Due: eslint

Add Expo stub configuration
  app/.gitignore
  app/app.json
  app/babel.config.cjs
  app/metro.config.cjs
  app/package.json
  app/src/app/_layout.ts
  app/src/app/index.ts
  app/src/index.ts
  app/src/layouts/RootLayout.tsx
  app/src/screens/MainScreen.tsx
  app/src/types/layout.ts
  app/tsconfig.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint

Add Playwright configuration
  package.json
  pkg/playwright-config/package.json
  pkg/playwright-config/playwright.config.js
  pkg/playwright-config/types.d.ts
  playwright.config.js
  pnpm-lock.yaml
Due: eslint, tsc-pkg

Add readme.md with installation instructions and technologies used
  readme.md
Due: none

Update package versions and dependencies
  .github/workflows/deploy.yml
  app/package.json
  package.json
  pkg/eslint-config/eslint.config.js
  pkg/eslint-config/package.json
  pkg/playwright-config/package.json
  pkg/prettier-config/package.json
  pkg/test/package.json
  pkg/typescript-config/package.json
  pkg/vite-config/package.json
  pnpm-lock.yaml
  web/.gitignore
  web/.sb/main.ts
  web/package.json
  web/public/styles.css
  web/src/index.tsx
  web/src/pages/+Head.tsx
Due: eslint, tsc-pkg

Add useParam hook and example Storybook stories
  web/src/hooks/use-param.ts
  web/src/sections/LandingPage/index.stories.tsx
Due: eslint

Update package versions and dependencies
  app/package.json
  package.json
  pkg/eslint-config/eslint.config.js
  pkg/eslint-config/package.json
  pkg/playwright-config/package.json
  pkg/prettier-config/package.json
  pkg/test/package.json
  pkg/typescript-config/package.json
  pkg/typescript-config/tsconfig.json
  pkg/vite-config/package.json
  pkg/vite-config/vite.config.js
  pnpm-lock.yaml
  web/package.json
Due: eslint, tsc-pkg

Update package versions and dependencies
  .vscode/settings.json
  package.json
  pkg/eslint-config/eslint.config.js
  pkg/eslint-config/package.json
  pkg/playwright-config/package.json
  pkg/prettier-config/package.json
  pkg/test/package.json
  pkg/typescript-config/package.json
  pkg/vite-config/package.json
  pnpm-lock.yaml
  web/package.json
Due: eslint, tsc-pkg

Add example test suite
  .vscode/settings.json
  package.json
  pkg/eslint-config/eslint.config.js
  pkg/eslint-config/package.json
  pkg/vite-config/package.json
  pnpm-lock.yaml
  web/package.json
  web/src/example/Example.spec.ts
  web/src/example/Example.test.tsx
  web/src/example/Example.tsx
  web/src/example/typeof.ts
  web/src/example/typeof.unit.ts
  web/src/pages/example/+Page.tsx
  web/src/pages/example/+title.ts
Due: eslint, tsc-pkg

Update package versions and dependencies
  .vscode/settings.json
  app/package.json
  package.json
  pkg/eslint-config/eslint.config.js
  pkg/eslint-config/package.json
  pkg/playwright-config/package.json
  pkg/prettier-config/package.json
  pkg/test/package.json
  pkg/typescript-config/package.json
  pkg/typescript-config/tsconfig.json
  pkg/vite-config/package.json
  pnpm-lock.yaml
  web/package.json
  web/src/example/Example.tsx
Due: eslint, tsc-pkg

Path conditions:
  eslint: any of: *.{cjs,js,jsx,mjs,ts,tsx}
  tsc-pkg: any of: *.{js,ts,tsx} and ^pkg/
